imageio==2.37.0
kornia==0.8.1
matplotlib==3.10.8
numba==0.61.2
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
pytorch_msssim==1.0.0
scikit_learn==1.8.0
scipy==1.17.1
skimage==0.0
thop==0.1.1.post2209072238
tifffile==2025.2.18
torch==2.5.1
torch_ema==0.3
torchmetrics==1.7.1
torchvision==0.20.1
tqdm==4.67.1
